*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(assets/fondo.webp);
    background-size: cover;
}

#inicio {
    text-align: center;
    margin-top: 2%;
}

h1{
    font-size: 4rem;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

p{
    font-size: 1.5rem;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#juego {
    display: none;
    text-align: center;
}
h2{
    font-size: 4rem;
}
#pregunta{
    font-size:2rem ;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#puntajes {
    display: none;
    text-align: center; 
    background-color: #184045;
    border: 4px solid rgba(0,0,0,0);
    border-image: radial-gradient(circle, #AA6311, #C7B547, #A89D3F) 1;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    margin-right: 20%;
    margin-left: 20%;
    padding: 1% ; 
  }
  


h1, h2, p, #pregunta {
    color: #C8AA6E; 
    -webkit-text-stroke: 1px #000000; 
    filter: drop-shadow(10px 12px 8px black);
}

#resultado{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #C8AA6E;
    margin-top: 1%;
    font-size: 32px; 
    -webkit-text-stroke: 1px #000000; 
    filter: drop-shadow(10px 12px 8px black);
}
#boton-jugar-nuevamente {
    margin-top: 20px;
}
button {
    display: block;
    color:#DBDCDD;
    margin: 10px auto;
    padding: 10px 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    cursor: pointer;
    background-color: #184045;
    border: 4px solid transparent;
    border-image: radial-gradient(circle, #AA6311, #C7B547, #A89D3F) 1;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease, border-image 0.3s ease; 
}

button:hover {
    transform: scale(1.1); 
  }


#audio-controls {
    position: fixed;
    bottom: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#audio-controls audio {
    display: none; 
}

#muteButton {
    margin-left: 10px;
    padding: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    cursor: pointer;
    background-color: #184045;
    color: #DBDCDD;
    border: 4px solid transparent;
    border-image: radial-gradient(circle, #AA6311, #C7B547, #A89D3F) 1;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease, border-image 0.3s ease;
    text-align: center;
}

#muteButton:hover {
    transform: scale(1.1);
}

#muteButton i {
    font-size: 24px;
}


